includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	ignoreErrors:
		- '#Regex pattern is invalid: Compilation failed: invalid range in character class at offset 122 in pattern: .*#'