includes:
	- vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
	- vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon

parameters:
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Regex pattern is invalid: Compilation failed: invalid range in character class at offset 122 in pattern: .*#'
		- '#Offset .*? does not exist on array\(\).*#'
